<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	{% load staticfiles %}
    <title>Nexmo - {% block title %} welcome!{% endblock %}</title>
    <script type="text/javascript" src="/WebResources/ClientGlobalContext.js.aspx"></script>
    <script type="text/javascript" src="/WebResources/new_jquery_1.7.1.min"></script>
     <script type="text/javascript" src="/WebResources/new_jquery_ui_1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="/WebResources/new_Configuration.js"></script>
    <script type="text/javascript" src="/WebResources/new_SDK.MetaData.js"></script>
    <script type="text/javascript" src="/WebResources/new_SDK.Soap.js"></script>
    <link rel="stylesheet" href="/WebResources/new_Configuration.css" />
    <link rel="Stylesheet" href="/WebResources/new_jquery_ui_1.8.18.custom.css" />
	<link rel="stylesheet" href='{% static "Configuration.css" %}' />
    <!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">3WF3KCPEARPP-41-32</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">90a3d448-65e3-4c8b-9e91-66912a00b146</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">http://asplportal.advaiya.com/PWA/Apps Development for Nexmo/_layouts/15/DocIdRedir.aspx?ID=3WF3KCPEARPP-41-32, 3WF3KCPEARPP-41-32</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->

</head>
<body class="body">
<div class="body">
	<div class="pageWrapper">
		<div class="logoWraper"><img src='{% static "nexmo-logo.png" %}' alt="Nexmo" width="180"></div>
		{% if request.session.logged_in %}
			<div style="float:right"><a href="/logout">Logout</a></div>
		{%endif%}
        {% block body_block %}{% endblock %}
	</div>
</div>  
</body>
</html>
