{% extends 'base.htm' %}
{% load staticfiles %}
{% block title %}configuration{% endblock %}
{% block body_block %}
        <form method="post" id="forms">{% csrf_token %}
		<h1 class="heading1">Configuration Settings</h1>
			<div class="mainContent">
					{% if messages %}
						<div class="mb-20">
						{% for message in messages %}
						<div {% if message.tags %} class="isa_{{ message.tags }}"{% endif %}>{{ message }}</div>
						{% endfor %}
						</div>
					{% endif %}
			<div  class="client_msg mb-20"></div>
			<div class="mb-20">
				<div class="fieldLabel">Nexmo API Key<span class="handCursor"></span></div>
				<div>
					<input id="NKey"  type="text" name="NKey"  value="{{nxmo_conf.NKey}}" class="customTxtBox" />
				</div>
			</div>

			<div class="mb-20">
				<div class="fieldLabel">Nexmo Secret Key<span class="handCursor"></span></div>
				<div>
					<input id="NSecret" type="text"  name="NSecret" value="{{nxmo_conf.NSecret}}" class="customTxtBox" />
				</div>
			</div>

			<div class="mb-20">
				<div class="fieldLabel">Nexmo From Number<span class="handCursor"></span></div>
				<div>
					<input id="NFromNumber" type="text"  name="NFromNumber" value="{{nxmo_conf.NFromNumber}}" class="customTxtBox" />
				</div>
			</div>			
			
			<div class="mb-20">
				<div class="fieldLabel">Recipients Number<span class="handCursor"></span></div>
				<div>
					<input id="NRecv" type="text" name="NRecv" value="{{nxmo_conf.NRecv}}" class="customTxtBox" /> 
				</div>
			<div style="color:orange">Type number with country code.eg 1 248 xxxxx</div>
			</div>
			
			
			<div class="mb-20">
				<div class="font16">Enable SMS 
				{% if nxmo_conf.EnableSMS == '0' %}
						<input id="EnableSMS"name="EnableSMS" type="checkbox" />
					{%else%}
						<input id="EnableSMS"name="EnableSMS" type="checkbox" checked="checked" />
					{%endif%}
				</div>
			</div>
			
			<div class="mb-20">
				<div class="fieldLabel">Username<span class="handCursor"></span></div>
				<div>
					<input id="UserName"name="UserName" type="text" value="{{nxmo_conf.username}}" class="customTxtBox" />
				</div>
			</div>
			
			<div class="mb-20">
				<div class="fieldLabel">Password<span class="handCursor"></span></div>
				<div>
					<input id="password"name="password" type="password" class="customTxtBox" value="{{nxmo_conf.password}}" />
				</div>
			</div>
			<div style="color:orange">This credentials update effects only this portal not to Nexmo official site.</div><br />
			
			<div><input type="submit" value="Save" class="blueBtn"></div
			<div class="clear"></div>
		</div>
    </div>
		</form>

<script>
	$(document).ready(function(){

		$error = false;
		$("form").submit(function(e){
    		e.preventDefault();
  		});
		$('#NSecret').focusout(function() {
			$.ajax({
				url: '/ajax_validator/',
			    type: 'post', //this is the default though, you don't actually need to always mention it
			    data: $( "form" ).serialize(),
				success: function(data) {
    				alert(data);
				},
				error: function(xhr,status,error) { 
    				alert(error);
				}
			}); 
		});
	});
</script>
{% endblock %}
